@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Aref+Ruqaa:wght@400;700&family=Katibeh&family=Lemonada:wght@400;700&family=Noto+Nastaliq+Urdu:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Start Variables */
:root {
  --basc-colo: #3a6cf4;
  --main-color: #0a49f6;
  --icon-color: white;
  --background-color: #1e1e1e;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
header {
  background-color: var(--icon-color);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  text-decoration: none;
  color: var(--basc-colo);
  text-transform: uppercase;
  font-weight: 800px bold;
  font-size: 1.8em;
  margin-left: 90px;
}
.navigation a {
  text-decoration: none;
  color: var(--basc-colo);
  font-weight: 500px;
  font-size: 1.1em;
  padding: 30px;
}
.navigation a:hover {
  color: var(--main-color);
}
section {
  padding: 100px 20px;
}
/* End Header */
/* Start Landing */
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/robert-tudor-cjQBSfcdfUE-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  /* background-attachment: fixed; */
}
/* .main div {
    margin-left: 100px;
} */
.main h2 {
  color: var(--icon-color);
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 90px;
}
.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--basc-colo);
  font-size: 3em;
  font-weight: 600;
}
.main h3 {
  color: var(--icon-color);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 90px;
}
.mian-btn {
  color: var(--icon-color);
  background-color: var(--basc-colo);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
  margin-left: 90px;
}
.mian-btn:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
}
.social-icons {
  margin-left: 100px;
}
.social-icons a {
  color: var(--icon-color);
  font-size: 1.7em;
  padding-right: 30px;
}
@media (max-width: 480px) {
  .main {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .main {
    max-width: 100%;
    background: none;
    background-color: var(--background-color);
  }
}
/* End Landing */
/* Start services */
.title {
  display: flex;
  justify-content: center;
  color: var(--basc-colo);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: var(--icon-color);
  width: 21.25em;
  box-shadow: 0 5px 25px rgb(1 1 1 /15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  color: var(--basc-colo);
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: var(--basc-colo);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/* End services */
/* Start projects */
/* projects{
  background-color: var(--background-color);
  border-radius: 10px;
} */
.projects .content {
  /* box-shadow: 0 5px 25px rgb(1 1 1 /100%);
  border: 1px solid var(--icon-color); */
  background-color: var(--background-color);
  border-radius: 10px;
  margin-top: 30px;
}
.project-card {
  background-color: var(--icon-color);
  border: 1px solid var(--icon-color);
  min-height: 14em;
  width: 22em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card:hover .project-image {
  opacity: 0.9;
}
.project-image img {
  width: 100%;
}
.project-info {
  padding: 1em;
}
.project-category {
  font-size: 0.8em;
  color: var(--background-color);
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
  color: var(--basc-colo);
}
.more-details:hover {
  color: var(--main-color);
}
/* End projects */
/* Start contact */
/* .cards-contact {
  margin: 0 0 0 0;
  padding: 0;
} */
content {
  width: 21.6;
}
.contact .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: var(--background-color);
}
.contact .info p {
  font-size: 1.5em;
}
/* End contact */
/* Start Footer */
.footer {
  border-radius: 10px;
  background-color: var(--background-color);
  color: var(--icon-color);
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span {
  color: var(--basc-colo);
}
.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
/* End Footer */
/* Start @media */
@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }
  .navigation {
    padding-left: 20px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
}
@media (max-width: 641px) {
  body {
    font-size: 12px;
  }
  .main-content h2 {
    font-size: 0.8em;
  }
  .main-content h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .logo {
    margin-left: 0px;
  }
  .main h2 {
    margin-left: 0px;
  }
  .main h2 span {
    margin-left: 0px;
  }
  .main h3 {
    margin-left: 0px;
  }
  .mian-btn {
    margin-left: 0px;
  }
  .social-icons {
    margin-left: 0px;
  }
}
@media (max-width: 765px) {
  .navigation a {
    padding: 5px;
  }
}
@media (max-width: 765px) {
}
/* End @media */
